@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url(http://fonts.gstatic.com/l/font?kit=ASwh69ykD8iaoYijVEU6Rka_0fbDfAGlHB_iUMGUmPE&skey=dbbfcd88515615c5&v=v9#UnifrakturCook) format('svg');
}
